{% extends "layout.html" %}
{% block content %}    
<section class="main" >
    
<section class="articles">
        <article>
            <h2>Bienvenido a mi pagina   </h2>
            <br>
            <p>Hola, bienvenido a nuestra clínica veterinaria dedicada a tus mascotas
                Encontrarás un equipo apasionado y comprometido con la salud y felicidad 
                de tus amigos peludos.
                <img src="/static/mascotas.jpg" width="225px">
           </p>
       </article>
        <article>
           <h2>Este es un artículo sobre mi veterinaria  </h2>
            <br>
            <p>Ofrecemos servicios veterinarios de alta calidad, 
            desde consultas preventivas hasta tratamientos especializados. 
            Tu confianza es nuestra prioridad, por lo que nos esforzamos por brindar atención 
            compasiva y personalizada.</p>
        
        </article>
</section>  
</section> 
<aside>
    <h3> ¡Atención amantes de los animales!</h3>
    <p> En nuestra clínica veterinaria, 
        tu mascota es nuestra prioridad, ofrecemos cuidados expertos y cariño incondicional. 
        Desde chequeos regulares hasta emergencias, 
        estamos aquí para mantener a tus peludos amigos saludables y felices. 
        <br>
        !Solo llamanos¡
       
    </p>
      
</aside>
{% endblock %}