<!DOCTYPE html>
<html lang="es">
<head>
<meta name="keywords" content="HTML5, CSS3">
<title>Veterinaria Huellas Sanas</title>
<link rel="stylesheet" href="/static/estilos2.css">
</head>
<body>
<header>
   <img src="/static/logo_vete.jpg" width="250px">
</header>

<nav>
    <ul>
        <li><a href="/index">Inicio</a></li>
        <li><a href="/perro">Info. sobre perros</a></li>
        <li><a href="/gatos">Info. sobre gatos</a></li>
        <li><a href="/contacto">Contacto</a></li>
    </ul>
</nav>
{% block content %} 
{% endblock %}

  
</body>
</html>