<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informacion sobre los Perros</title>
    <link rel="stylesheet" href="/static/estilos2.css">
    <img src="/static/logo_vete.jpg" width="250px">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            padding: 20px;
        }
        header {
            text-align: center;
            background-color: #4CAF50;
            padding: 10px;
            color: rgb(15, 231, 231);
            font-size: 24px;
        }
        section {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <header>
        <h1>Veterinaria Huellas Sanas</h1>
    </header>
    <img src="/static/perro_salchicha.jpg" width="250px">
    <nav>
        <ul>
            <li><a href="/index">Inicio</a></li>
            <li><a href="/gatos">Info. sobre Gatos</a></li>
            <li><a href="/nosotros">Acerca de nosotros</a></li>
            <li><a href="/contacto">Contacto</a></li>
        </ul>
    </nav>
    <section>
        <h2>Bienvenido a nuestra veterinaria</h2>
        <p>En nuestra Veterinaria, nos preocupamos por la salud y felicidad de tus queridas mascotas. 
        </p>
        <img src="/static/aleman.jpg" width="250px">
    </section>

    <section>
        <h2>Nuestros Servicios</h2>
        <ul>
            <li>Consultas regulares</li>
            <li>Vacunación y desparasitación</li>
            <li>Atención de emergencia</li>
            <li>Cirugía y cuidados postoperatorios</li>
            <li>Análisis clínicos</li>
        </ul>
    </section>

</body>
</html>